
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    margin: 0;
}
.dashboard {
    vertical-align: top;
    font-size:small;
    text-align: center;
    display: none;
}
#news-dashboard {
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #ffffff;
    width: 500px;
}
#country-info {
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #ffffff;
    width: 500px;
}
#news-pic {
    width: 400px;
}
#country-flag {
    width: 400px;
}
footer {
    font-size: small;
}
#home-banner {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.login-box {
    display: block;
    border: 5px solid #000000;
    padding: 50px;
    width: 300px;
    border-radius: 25px;
    margin: auto;

}
#user-profile-parent {
    display: block;
    border: 5px solid #000000;
    border-radius: 25px;    
    padding: 25px;
    width: 600px;
}

.centered-t {
    text-align: center;
}

.Country {
    fill: lightgreen;
    stroke: white;
    stroke-width: 0.5px;
}
.Country:hover {
    fill: red;
}

#clickable-map {
    display: inline-block;
}

