/* https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
.dashboard {
    vertical-align: top;
    font-size:small;
    text-align: center;
    display: none;
}
#news-dashboard {
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #E5E5E5;
    width: 500px;
}
#country-info {
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #E5E5E5;
    width: 500px;
}
#exchange-rate {
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #E5E5E5;
    width: 500px;
}

#news-pic {
    width: 400px;
}
#country-flag {
    width: 400px;
}
footer {
    font-size: small;
}
#home-banner {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.login-box {
    display: block;
    border: 5px solid #000000;
    padding: 50px;
    width: 400px;
    border-radius: 25px;
    margin: auto;

}
#user-profile-parent {
    display: block;
    border: 5px solid #000000;
    border-radius: 25px;    
    padding: 25px;
    width: 600px;
    margin: auto;
}

.centered-t {
    text-align: center;
}

.Country {
    fill: #14213D;
    stroke: white;
    stroke-width: 0.5px;
}
.Country:hover {
    fill: #FCA311;
}

#clickable-map {
    display: block;
    border: 5px solid #000000;
    /* padding: 50px; */
    border-radius: 25px;
    margin: auto;
}
#country-name-box-parent {
    display: inline-block;
    text-align: center;
}

#generate-dashboard-button {
    background-color: #FCA311;
}