<!DOCTYPE html>
<html>
<head>

    <!-- Title at top of Browser -->
    <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
    <!-- Stylesheet  -->
    <link rel="stylesheet" href="/static/css/stylesheet.css">

    
    <!-- Page-specific JavaScript -->
    {% block js %}
    {% endblock %}

</head>
<body>
    {% if session["current_user_email"] != None %}
    <p>You are logged in as {{ session["current_user_email"] }}</p>
    {% endif %}

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
        {{ msg }}
    </p>
    {% endfor %}
    
    <!-- Body Content -->
    {% block content %} BODY CONTENT GOES HERE {% endblock %}
    
    <br><br><br>
    <!-- Footer -->
    <footer>Laurel Mossor - Hackbright Capstone Project 2022</footer>
</body>
</html>