{% extends 'base.html' %}

{% block title %}Create an Account{% endblock %}

{% block content %}

<a href="/">Home</a>


<div class="login-box">
    <h2>Create an Account</h2>
    <form action="/create-account-page/create-account" method="POST">
        <p>
        Email <input type="text" name="email">
        <br>
        Password <input type="password" name="password">
        </p>
        <p>
        <input type="submit"> or <a href="/login-page">Log in</a>
        </p>
    </form>
    
</div>



{% endblock %}