{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block js %}
<script src="/static/js/homepage.jsx" type="text/jsx"></script>
{% endblock %}

{% block content %}
    <img src="static/images/dashboard-banner.png" id="home-banner"/>
    <h1>Homepage</h1>
    <p>Hello and welcome to the World Dashboard.</p><br>


    <form action="/news-country">
        <select name="country-code-select">
        </select>
        <button type="submit" id="country-code-selector">Select</button> 
</form>

<!-- THING -->
<div id="svgMapExample"></div>

<br><br>
<div class="dashboard" id="dashboard-parent">
    
    <div class="dashboard" id="country-info"></div>
    <div class="dashboard" id="news-dashboard"></div>

</div>
{% endblock %}