{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block js %}
<script src="/static/js/profile-page.js"></script>
{% endblock %}

{% block content %}
<a href="/">Home</a><br><br>
<form action="/logout"><button type="submit">Logout</button></form>

    <h1>Hello, {{session["current_user_name"]}}!</h1>
<div id="user-profile-parent">
    <!-- SHOULD SAY '==', changing it to '!=' while testing -->
    {% if session["current_user_name"] != "Friend" %}
    <div>        
        <h3>Create username</h3>
        <form action="/user-profile/create-username" method="POST">
            What should we call you? <input type="text" name="create-username">
            <input type="submit">
        </form>
    </div>
    {% endif %}
    <div>
        <h3>Dashboard Preferences</h3>
        <p>
            <b>News Source Language:</b><br> 
            Selecting a language will narrow results significantly. 
            <i>Alternatively,</i> turn on the *translate* option to 
            translate the entire dashboard.<br><br>
            I only want to see news sources published in 
            <form action="/user-profile/source-language" method="POST">
                <select name="language-dropdown">
                    {% for lan in NEWS_LANGUAGES %}
                        <option value="{{ lan[0] }}">{{ lan[1] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" id="language-selector">
            </form>
        </p>
        <b>Current choice:</b> {{ session["current_user_lang"] }}
    </div>
</div>




{% endblock %}