{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block js %}
<script src="/static/js/profile-page.js"></script>
{% endblock %}

{% block content %}
<a href="/">Home</a><br><br>
<form action="/logout"><button type="submit">Logout</button></form>

    <h1>Hello, {{session["current_user_name"]}}!</h1>
    {% if session["current_user_name"] == "Friend" %}
    <div >
        <form action="/user-profile/create-username" method="POST">
            <h3>Create username</h3>
            What should we call you? <input type="text" name="create-username">
            <input type="submit">
        </form>
    </div>
    {% else %}

    {% endif %}





{% endblock %}