{% extends 'base.html' %}

{% block title %}Create an Account{% endblock %}

{% block content %}


<div class="login-box">
    <h2>Create an Account</h2>
    <form action="/create-account-page/create-account" method="POST">
        <p>
        Email <br><input type="text" name="email">
        <br>
        Password <br><input type="password" name="password">
        </p>
        <p>
        <input type="submit"> or <a href="/login-page">Log in</a>
        </p>
    </form>
    
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>



{% endblock %}