{% extends 'base.html' %}

{% block title %}World Dashboard{% endblock %}

{% block js %}

<!-- D3 -->
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://unpkg.com/topojson@3"></script>

{% endblock %}

{% block content %}

<!-- <h1>Select a country to get started</h1> -->

<div class="container-fluid">
<div class="col-12" id="country-name-box-parent">
</div>
</div>

<div class="container-fluid col-12" id="map-parent">
    <svg id="clickable-map"></svg>
</div>

<br><br>
<div class="container dashboard" id="dashboard-parent">
    
    <div class="dashboard" id="country-info"></div>
    <div class="dashboard" id="news-dashboard"></div>

</div>

<script src="/static/js/homepage.js"></script>
<script src="/static/js/map.js"></script>


{% endblock %}