{% extends 'base.html' %}

{% block title %}World Dashboard{% endblock %}

{% block js %}

<!-- D3 -->
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://unpkg.com/topojson@3"></script>

{% endblock %}

{% block content %}


<div class="container-fluid">

<!-- Modal -->
<div class="modal fade" id="modal-dashboard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title">Dashboard</h5>
					<button type="button" class="close" data-dismiss="modal" 
					aria-label="Close" style="background-color: #FCA311">
					<span aria-hidden="true">&times;</span>
					</button>
			</div>
			<div class="modal-body">

				<div class="container-fluid dashboard" id="dashboard-parent">
					<div class="row">
						<div class="col-6">
							<div class="dashboard dash-child col-12" id="news-dashboard"></div>
						</div>
						<div class="col-6">
							<div class="dashboard dash-child col-12" id="country-info"></div>
							<div class="dashboard dash-child col-12" id="exchange-rate"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" 
				data-dismiss="modal" style="background-color: #FCA311">Close</button>
			</div>
		</div>
	</div>
</div>


</div>


<!-- Country Info/News Divs -->
<div class="container-fluid">
	<div class="col-12" id="country-name-box-parent">
	</div>
</div>

<div class="container-fluid col-12" id="map-parent">
    <svg id="clickable-map"></svg>
</div>

<br><br>


<script src="/static/js/homepage.js"></script>


{% endblock %}