{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}

<a href="/">Home</a>

<div class="login-box">

    <h2>Log In</h2>
    <form action="/login-page/user-login" method="POST">
        <p>
        Email <input type="text" name="email">
        <br>
        Password <input type="password" name="password">
        </p>
        <p>
        <input type="submit"> or <a href="/create-account-page">Create an Account</a>
        </p>
    </form>
    
</div>



{% endblock %}